name: 定时更新

on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get website content
      id: get_content
      run: |
        set +e
        curl --fail -A "okhttp/4.11.0" http://xhww.fun:63/小米/DEMO.json -o 1.json
        echo "::set-output name=status_code::$?"
        set -e

    - name: Commit and push if it's not a fork and site is up
      if: steps.get_content.outputs.status_code == '0' && github.event_name == 'schedule' && github.repository == github.event.repository.full_name
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add 1.json
        git diff --quiet && git diff --staged --quiet || (echo 'Committing changes...' && git commit -m 'Update website content' && git push)
